// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$updatedat-color:   rgba(0, 0, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-velib {

  .title {
    color: $title-color;
    font-size: 25px;
  }

  .more-info{
    color: $moreinfo-color;
  }

  .updated-at {
    color: $updatedat-color;
  }
}
